@{
    ViewData["Title"] = "Assignment 2";
}

<div class="text-center">
    <h1 class="display-4">Assignment 2</h1>

    <p>
        The Canadian Computing Competition (CCC) is a yearly event hosted by the University of Waterloo. The past contests are available through the link below.
    </p>

    <a href="https://cemc.math.uwaterloo.ca/contests/past_contests.html#ccc">
        https://cemc.math.uwaterloo.ca/contests/past_contests.html#ccc
    </a>

    <h3>This assignment requires you to:</h3>

    <div class="row justify-content-md-center">
        <ul class="col-4">
            <li>
                Create a WebAPI Method which solves a J1 Problem
            </li>
            <li>
                Create a WebAPI Method which solves a J2 Problem
            </li>
            <li>
                Initiative: Create a WebAPI Method that attempts a J3 or higher problem.
            </li>
        </ul>
     </div>

    <p>
        The questions on the CCC assume that the program input works through a terminal. Below are two example questions which have been modified to work with WebAPI HTTP request inputs rather than terminal inputs. You may solve the two examples below; or look through the past contests for problems.
    </p>
</div>

